body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.tab {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    text-align: center;
}

.tab:hover,
.tab.active {
    border-bottom: 2px solid #00ff00;
    color: #00ff00;
}
